.fa{
  font-size: 1.5em !important;
  color: #21379a !important;
  text-decoration: none !important;
}
#global-navigation {
    border-bottom: #21379a 3px solid;
}
.pte-title{
  color: #21379a;
  text-align: left;
}
