# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<%block name="pagetitle">${_(u"Patrimonio Educativo - EduAbierta")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about" style="min-width:320px !important;">
        <h1>${_(u"Patrimonio Educativo")}</h1>
        <p>${_(u"Acá encontrarás una selección de iniciativas de digitalización y apertura del patrimonio cognitivo y cultural de la Universidad de Chile, donde encontrarás gran cantidad de recursos para aprender y enseñar.")}</p>
        
		<h2>${_(u"Repositorio académico")}</h2>
				<p>${_(u"Este repositorio conserva, difunde y proporciona acceso a la investigación y publicaciones académicas generadas por docentes e investigadores del plantel. Contiene más de 38.000 publicaciones e incluye todo tipo de documentos digitales: artículos de revistas, libros, capítulos de libros, tesis, informes técnicos, ponencias, imágenes, documentos de trabajo, entre otros.")}</p>
				<p>${_(u"En este vínculo encontrará las colecciones vinculadas a temas de educación:")}<br><a href="http://repositorio.uchile.cl/discover?scope=/&rpp=10&page=3&query=educaci%C3%B3n&group_by=none&etal=0" target="_blank">${_(u"Repositorio Universidad de Chile")}</a></p>
				
		<h2>${_(u"Portal de Libros Electrónicos")}</h2>
				<p>${_(u"Plataforma que difunde el quehacer académico y la investigación de las distintas Facultades, Escuelas e Institutos de la Universidad. Su catálogo dispone de obras de valor histórico que son parte de su patrimonio cultural. Permite acceder a una gran cantidad de títulos en texto completo, organizados en  más de nueve categorías temáticas  y unidades académicas.")}</p>
				<p>${_(u"Para consultar la categoría educación ir a: ")}<a href="http://www.libros.uchile.cl/index.php/sisib/catalog/category/educacion" target="_blank">${_(u"Portal de Libros Electrónicos")}</a></p>
		
		
		<h2>${_(u"UAbierta")}</h2>
				<p>${_(u"Plataforma de cursos abiertos y gratuitos en temas de interés social, fue creada para expandir y democratizar el acceso al conocimiento, ofreciendo oportunidades formativas a todos quienes deseen aprender y desarrollarse, sin requisitos de estudios previos.")}</p>
				<p><a href="http://uabierta.uchile.cl/" target="_blank">${_(u"www.UAbierta.uchile.cl")}</a></p>
		
		<h2>${_(u"Artificios")}</h2>
				<p>${_(u"Es un proyecto que contribuye al resguardo y difusión del patrimonio cultural material e inmaterial, sirviéndose del carácter ubicuo y multimedial de Internet como alternativa de accesibilidad.")}<br>${_(u"En su curatoría Memoria de memorias están disponibles tesis de profesores del Instituto Pedagógico.")}</p>
				<p>${_(u"Ver en: ")}<a href="http://www.artificios.uchile.cl/memoria_de_memorias" target="_blank">${_(u"Artificios Universidad de Chile - Memoria de Memorias")}</a></p>
		
		<h2>${_(u"Cineteca virtual")}</h2>
				<p>${_(u"Busca poner a disposición de las personas uno de los archivos fílmicos más grandes e importantes de nuestro país: la Cineteca de la Universidad de Chile, con registros que van desde 1903 hasta nuestros días, siendo este espacio el único acervo digital existente en Chile abierto libremente al público.")}<br>${_(u"Destacamos el registro de la elección como rector de la Universidad de Chile del pedagogo Juan Gómez Millas, en el Salón de Honor de la Universidad en 1953.")}</p>
				<p>${_(u"Ver en: ")}<a href="http://cinetecavirtual.cl/fichapelicula.php?cod=66" target="_blank">${_(u"Cineteca Virtual")}</a></p>
		
		<h2>${_(u"UChile.tv")}</h2>
				<p>${_(u"Proyecto dependiente del Nodo Audiovisual de la Facultad de Filosofía y Humanidades de la Universidad de Chile. Es una iniciativa de vinculación con el medio, que tiene como propósito compartir y acercar a las comunidades extrauniversitarias el quehacer académico, la reflexión universitaria y los saberes triestamentales de nuestra institución a través de la realización de un conjunto de contenidos audiovisuales originales con foco en las humanidades, filosofía y educación. Todos los contenidos realizados al alero de esta iniciativa son a perpetuidad gratuitos, públicos y acordes con la vocación social que rigen la misión de la Universidad de Chile y sus principios orientadores. ")}</p>
				<p>${_(u"Destacamos los recursos de su sección Pedagogías:")}<a href="http://uchile.tv/category/temas/pedagogia/" target="_blank">${_(u"UChile.tv - Sección Pedagogías")}</a></p>
	

	 </section>
</main>

